body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

/* HEADER */
header {
    background: #000;
    color: #fff;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

/* HERO */
.hero {
    padding: 20px;
}

.hero h1 {
    font-size: 28px;
    color: #111;
}

.hero p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.ebook-img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* BUTTON */
.btn {
    background: #ff9900;
    color: white;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn:hover {
    opacity: 0.8;
}

/* FOOTER */
footer {
    margin-top: 40px;
    padding: 15px;
    background: #222;
    color: #fff;
    font-size: 14px;
}
